.clubList {
    padding: 10px 0;
}

.clubList .container p {
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
    font-size: 13px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.clubList .container {
    display: flex;
}

.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.clubList .container img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.clubList .container img:hover {
    transform: scale(1.3, 1.3);
}

/* Media */
@media (min-width: 1200px) { 
    .clubList {
        display: block;
    }
}

@media (max-width: 1199.98px) {
     .clubList {
         display: none;
     }
}
