.fixtureMatch {
    display: block;
    border: 1px solid lightgray;
    margin: 25px 0;
    cursor: pointer;
}

.fixtureMatch:hover {
    background-image: linear-gradient(to right, #7a1896, #9a1aa4, #bb1bb0, #dd1bbb, #ff1cc4);
    color: white;
    transition: 0.1s;
}

.overview {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 0;
    /* border: 1px solid blue; */
}

.minutes {
    /* border: 1px solid red; */
    display: inline-flex;
    justify-content: center;
    text-align: center;
    max-width: 50px;
    width: 100%;
    align-items: center;
    font-size: 14px;
}

/* Teams */
.teams {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 50%;
}

.team {
    display: flex;
    max-width: 40%;
    width: 100%;
    /* border: 1px solid violet; */
}

.teamHome {
    justify-content: flex-end;
    margin-right: 15px;
}

.teamAway {
    justify-content: flex-start;
    margin-left: 15px;
}

.teamName{
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
}

.teamName p {
    width: 100%;
}

.badgeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.badgeContainer img{
    width: 20px;
    margin: 0 5px;
}

.matchTime {
    padding: 0 10px;
    position: absolute;
    outline: 1px solid lightgray;
}

/* Stadium */

.stadiumName {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    /* border: 1px solid red; */

}

.stadiumIcon {
    background-image: url(../../../../../Img/stadiumIcon.png);
    background-position: center;
    background-size: cover;
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .minutes {
        max-width: 30px;
    }

    .teams {
        font-size: 14px;
    }
    
    .teamAway {
        margin-left: 15px;
    }

    .stadiumName {
        font-size: 11px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .teams {
        width: 90%;
    }

    .team {
        width: 100%;
    }

    .teamHome {
        justify-content: flex-end;
    }

    .teamAway {
        justify-content: flex-start;
    }

    .stadiumName {
        display: none;
    }   
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .minutes {
        max-width: 20px;
        width: 100%;
    }

    .teams {
        width: 90%;
        font-size: 14px;
    }

    .team {
        width: 100%;
    }

    .teamHome {
        justify-content: flex-end;
    }

    .teamAway {
        justify-content: flex-start;
    }

    .stadiumName {
        display: none;
    }  
 }

 @media (max-width: 575.98px) {
    .minutes {
        max-width: 20px;
        width: 100%;
    }
     
    .teams {
        width: 90%;
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .team {
        width: 100%;
        align-items: center;
    }

    .teamHome {
        justify-content: flex-end;
    }

    .teamAway {
        justify-content: flex-start;
    }

    .stadiumName {
        display: none;
    }  
 }


