.fixtureMatch {
    display: block;
    border: 1px solid lightgray;
    margin: 25px 0;
    cursor: pointer;
}

.fixtureMatch:hover {
    background-image: linear-gradient(to right, #7a1896, #9a1aa4, #bb1bb0, #dd1bbb, #ff1cc4);
    color: white;
    transition: 0.1s;
}

.overview {
    display: flex;
    padding: 10px 0;
}

.minutes {
    display: inline-flex;
    text-align: center;
    max-width: 120px;
    width: 100%;
    align-items: center;
    font-size: 14px;
    color: black;
    padding-left: 5px;
}

.minutesSmall {
    max-width: 10%;
    width: 100%;
    font-size: 14px;
    text-align: center;
    /* background: #000;    */
    /* border: 1px solid red; */
    padding-left: 3px;
}

.shortDate {
    display: none;
}

.shortestDate {
    display: none;
}

.fixtureMatchDate P {
    font-weight: 700;
    color: darkslategrey;
}

.pLive {
    color: red;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.cameraIcon {
    margin-right: 5px;
}

/* Teams */
.teamsSmall,
.teams {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    /* border: 1px solid; */
}

.teamsSmall {
    width: 80%;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.team {
    display: flex;
    max-width: 40%;
    width: 100%;
    /* border: 1px solid violet; */
}

.teamHome {
    justify-content: flex-end;
    margin-right: 20px;
}

.teamAway {
    justify-content: flex-start;
    margin-left: 20px;
}

.teamName{
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
}

.teamName p {
    width: 100%;
}

.badgeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.badgeContainer img{
    width: 20px;
    margin: 0 5px;
}

.matchTime {
    padding: 0 10px;
    position: absolute;
    outline: 1px solid lightgray;
}

.tablo {
    border: 1px solid lightgray;
    position: absolute;
    display: flex;
    background: #724150;
    color: white;
}

.tabloSmall {
    margin: 0 50px;
}

.homeGoals {
    border-right: 1px solid lightgray;
    padding: 0 5px;
}

.awayGoals {
    padding: 0 5px;
}

/* Stadium */

.stadiumName {
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
}

.stadiumNameSmall {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    display: none;
}

.stadiumIcon {
    background-image: url(../../../../../Img/stadiumIcon.png);
    background-position: center;
    background-size: cover;
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .minutes {
        max-width: 100px;
        font-size: 12px;
    }

    .shortDate {
        display: none;
    }
    
    .shortestDate {
        display: none;
    }

    .teams {
        font-size: 14px;
    }
    
    .teamAway {
        margin-left: 40px;
    }

    .stadiumName {
        font-size: 11px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .minutes {
        font-size: 12px;
        max-width: 15%;
    }

    .shortDate {
        display: none;
    }
    
    .shortestDate {
        display: none;
    }

    .pLive {
        margin-left: 20px;
    }

    .teams {
        width: 85%;  
        font-size: 18px;
    }

    .teamsSmall {
        font-size: 14px;
    }

    .team {
        width: 100%;
    }

    .badgeContainer img{
        width: 25px;
        margin: 0 8px;
    }

    .teamHome {
        justify-content: flex-end;
    }

    .teamAway {
        justify-content: flex-start;
    }

    .stadiumName {
        display: none;
    }   
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .minutes {
        max-width: 80px;
        width: 100%;
        font-size: 12px;
    }

    .fullDate {
        display: none;
    }

    .shortDate {
        display: block;
    }
    
    .shortestDate {
        display: none;
    }

    .teams {
        width: 90%;
        font-size: 14px;
    }

    .minutesSmall {
        font-size: 12px;
    }

    .teamsSmall {
        font-size: 13px;
    }


    .team {
        width: 100%;
    }

    .teamHome {
        justify-content: flex-end;
    }

    .teamAway {
        justify-content: flex-start;
    }

    .stadiumName {
        display: none;
    }  
 }

 @media (max-width: 575.98px) {
    .minutes {
        max-width: 17%;
        width: 100%;
        font-size: 10px;
    }
     
    .fullDate {
        display: none;
    }

    .shortDate {
        display: none;
    }

    .shortestDate {
        display: flex;
        font-size: 12px;
    }

    .pLive {
        font-size: 12px;
    }

    .teams {
        width: 83%;
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .minutesSmall {
        font-size: 8px;
    }

    .teamsSmall {
        font-size: 12px;
        width: 90%;
    }

    .teamsSmall img {
        width: 17px;
    }

    .team {
        width: 100%;
        align-items: center;
    }

    .teamHome {
        justify-content: flex-end;
    }

    .teamAway {
        justify-content: flex-start;
    }

    .stadiumName {
        display: none;
    }  
 }


