.wrapperSpiner {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
}

.spiner {
    width: 60px;
    height: 60px;
}