.navigation {
    width: 50%;
}

.listSocials {
    max-height: 170px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.listSocials a{
    font-size: 12px;
}

.youtubeIcon,
.facebookIcon,
.instagramIcon,
.twitterIcon,
.spotifyIcon {
    width: 20px;
    margin-right: 5px;
}

.youtubeIcon {
    color: red;
}

.facebookIcon {
    color: blue;
}

.twitterIcon {
    color: dodgerblue;
}

.instagramIcon {
    color: #F56040;
}

.spotifyIcon {
    color: rgb(49, 165, 49);
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navigation {
        width: 60%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navigation {
        width: 60%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navigation {
        width: 100%;
        margin-top: 20px;
    }

    h2 {
        font-size: 24px;
        display: flex;
        justify-content: start;
    }
}

@media (max-width: 575.98px) { 
    .navigation {
        width: 100%;
        margin-top: 20px;
    }

    h2 {
        font-size: 24px;
        display: flex;
        justify-content: center;
        
    }

    .youtubeIcon,
    .facebookIcon,
    .instagramIcon,
    .twitterIcon,
    .spotifyIcon {
        width: 15px !important;
        margin-right: 3px;
    }

    .listSocials {
        padding: 0;
        display: flex;
        font-size: 12px;        
    }
}

