.teamForm {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.win {
    background: green;
}

.drawn {
    background: gray;
}

.lost {
    background: red;
}
