.content {
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    max-width: 80%;
    width: 100%;
    margin-bottom: 500px;
}

.h2 {
    color: #000;
    display: flex;
    justify-content: start;
    margin-left: 20px;
}

.newsSection {
    margin-top: 30px;
}

.listNews div {
    display: flex;
}

.listNews article {
    max-width: 28%;
    width: 100%;
}

.listNews article img {
    max-height: 180px;
}

.buttonMoreNews {
    padding: 5px;
    background-color: slateblue;
}