.content {
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    max-width: 70%;
    width: 100%;
    padding: 50px 0;
}

.matchToday {
    margin-bottom: 50px;
}

.matchToday img {
    width: 20px;
}

.h2 {
    color: #000;
    display: flex;
    justify-content: start;
    margin-left: 20px;
}

.listNews  {
    display: flex;
    justify-content: space-between;
}

.listNews article {
    max-width: 27%;
    width: 100%;
}

.listNews article img {
    max-height: 180px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .content {
        max-width: 70%;
        width: 100%;
    }

    .listNews article {
        max-width: 40%;
        width: 100%;
    }
    
    .listNews article img {
        max-height: 160px;
    }
 }

 @media (min-width: 768px) and (max-width: 991.98px) {
    .listNews article {
        max-width: 40%;
        width: 100%;
    }

    .listNews article img {
        max-height: 160px;
        object-fit: cover;
        background-position: bottom;
}
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .content {
        max-width: 100%;
        width: 100%;
    }
    
    .h2 {
        justify-content: center;
    }

    .listNews article {
        max-width: 45%;
        width: 100%;
        font-size: 18px;
        margin: 15px auto;
    }

    .listNews article img {
        object-fit: cover;
        background-position: top;
    }
}

@media (max-width: 575.98px) {
    .content {
        max-width: 100%;
        width: 100%;
    }

    .h2 {
        justify-content: center;
        font-size: 30px;
    }

    .listNews article {
        max-width: 100%;
        width: 100%;
        margin: 30px auto;
    }

    .newsSection {
        margin-top: 10px;
    }
    
    .listNews article img {
        max-height: 400px;
        height: auto;
        background-position: bottom;
        object-fit: cover;
    }
}
    



