.headerMenu {
    position: relative;
}

.menu{
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    padding: 0;
    display: flex;
    align-items: stretch;
    background: #3D195B;

}


/****************************** 
**********Logo************** 
******************************/
.parentLogo {
    display: flex;
    align-items: center;
    padding: 0;
    color: white;
    border-right: 2px solid white;
    border-bottom: 0 ;
}

.parentLogo p {
    text-decoration: none;
    color: white;
    font-weight: 600;
    max-width: 100px;
}

.logo {
    width: 60px;
    background-color: white;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 15px;
}

/****************************** 
**********Navigation***********
******************************/
.navigation {
    flex: 1;
    display: flex;
    align-items: stretch;
}

.navigation svg {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    border-bottom:  4px solid transparent;
    list-style-type: none;
    padding: 0 15px;
    cursor: pointer;
}

a.active {
    border-color: #963cff;
}

/* buttons */
.menuBtn {
    padding: 0 15px;
    display: none !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent !important;
    border-left: 2px solid white !important;
}

.menuBtn:hover {
    background-color:  #963cff !important;
}

.menuBtn.active {
    background-color:  #963cff !important;
}

.menuBtn svg {
    color: white;
    font-size: 30px;
}

.mobileMenu {
    background: #963cff;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: none;
}

.mobileMenu.show {
    display: none;
}

@media (max-width: 767.98px) {
    .menu {
        justify-content: space-between;
    }

    .navigation {
        display: none;
    }

    .parentLogo p {
        display: none;
    } 

    a {
        border-bottom:  2px solid transparent;
    }

    .mobileMenu.show {
        display: flex;
    }

    .menuBtn {
        display: flex !important;
    }

    .mobileMenu .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobileMenu .navigation a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }

    .mobileMenu .navigation a.active {
        background: coral;
    }
}
