.clubList{
    width: 80%;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.boxCard {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    height: auto;
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    width: 250px;
    margin: 30px 20px;
    border-radius: 10px;
    background:  #6caee0;
    cursor: pointer;
}

.boxCard:hover {
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: 5px 5px 5px gray;
}

.stadium {
    height: 14.7rem;
    overflow: hidden;
}

.stadiumImg {
    position: relative;
    display: block;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    transition: transform 2s;
}

.badge {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    width: 80px;
    height: 80px;
    position: absolute;
    top: 12rem;
    left: 50%;
    margin-left: -40px;
    border-radius: 100%;
    background: #fff;
}

.badgeContainer {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.badgeContainer img {
    width: 4rem;
    height: 4rem
}

.info {
    background: #6caee0;
    color: #333;
    padding-bottom: 25px;
}

.nameContainer {
    padding-top: 40px;
}

.clubName {
    font-size: 26px;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 600;
}

.teamFounded {
    font-size: 12px;
}

.stadiumName {
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}

.stadiumCapacity {
    font-size: 12px;
}

@media (min-width: 320px) and (max-width:992px) {
    .clubList {
        width: 100%;
        padding: 0 15px;
    }
}