* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* My Fonts */
@font-face{
  font-family: 'JosefinSans-Bold700';
  src: url('./Fonts/JosefinSans-Bold700.ttf');

  font-family: 'JosefinSans-Medium500';
  src: url('./Fonts/JosefinSans-Medium500.ttf');

  font-family: 'JosefinSans-Light300';
  src: url('./Fonts/JosefinSans-Light300.ttf');
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
